/* Body Transition */
body { 
    transition: background-color 0.3s, color 0.3s; 
}

/* Alpine JS Cloak */
[x-cloak] { 
    display: none !important; 
}

/* Custom Scrollbar */
::-webkit-scrollbar { 
    width: 8px; 
}
::-webkit-scrollbar-track { 
    background: transparent; 
}
::-webkit-scrollbar-thumb { 
    background: #cbd5e1; 
    border-radius: 4px; 
}
.dark ::-webkit-scrollbar-thumb { 
    background: #334155; 
}
::-webkit-scrollbar-thumb:hover { 
    background: #94a3b8; 
}